.news-feed {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    gap: 20px 40px;
}

.news-card {
    max-width: 400px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    color: var(--color-grey, #494947);
}

.load-button {
    border: none;
    color: white;
    width: 150px;
    height: 50px;
    border-radius: 100px;
    background: var(--color-orange, #FC6652);
    align-items: center;
    justify-content: center;
    display: flex;
}

.news-detail {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.news-detail>h2 {
    max-width: 800px;
    color: black;
}

.news-detail>p, .news-detail>img{
    max-width: 800px;
    color: var(--color-grey, #494947);
}

.loading {
    text-align: center;
}

@media only screen and (max-width: 1040px) {
    .news-feed {
        display: flex;
        flex-direction: column;
    }
    .news-card {
        max-width: 600px;
    }
    .news-detail>h2, .news-detail>p, .news-detail>img{
        max-width: 600px;
    }
}

@media only screen and (max-width: 650px) {
    .news-card {
        max-width: 450px;
    }
    .news-detail>h2, .news-detail>p, .news-detail>img{
        max-width: 450px;
    }
}

@media only screen and (max-width: 450px) {
    .news-card {
        max-width: 300px;
    }
    .news-detail>h2, .news-detail>p, .news-detail>img{
        max-width: 300px;
    }
}